HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Maven ###
.mvn/

### Logs ###
/logs/*
!/logs/logs_go_here.txt

### Uploaded files ###
/uploads/*
!/uploads/uploaded_files_goes_here.txt
/tmp_uploads/*
!/tmp_uploads/temp_files_goes_here.txt

### DB ###
/db/*
!/db/db_go_here.txt

