<!doctype html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<head th:replace="~{layout::header(pageTitle='Short Link Admin')}"></head>

<body>
    <div class="contents contents-2">
        <!-- Logo and Title -->
        <div th:replace="~{layout::logoAndTitleAdmin(headerTitle='Admin - File Share History')}"></div>

        <!-- History Table -->
        <div class="table-responsive">
            <table class="table table-striped" style="width: 100%;">
                <thead>
                    <tr class="table-dark">
                        <th scope="col" class="table-header-left">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Size</th>
                        <th scope="col">Modified</th>
                        <th scope="col">Mime</th>
                        <th scope="col">FileName</th>
                        <th scope="col">CreatorIp</th>
                        <th scope="col">Clicks</th>
                        <th scope="col">Created</th>
                        <th scope="col">Expiry</th>
                        <th scope="col">Logs</th>
                        <th scope="col" class="table-header-right">Remove</th>
                    </tr>
                </thead>
                <tbody th:if="${max >= 0}">
                    <tr th:each="i : ${#numbers.sequence(0, max)}">
                        <th scope="row" th:text="${i+1}">1</th>
                        <td>
                            <a th:href="${fileList.get(i).url}" target="_blank" class="shorturltxt"
                                th:text="${fileList.get(i).name}"></a>
                        </td>
                        <td th:text="${fileList.get(i).size}">123 KB</td>
                        <td class="text-center" th:text="${#strings.replace(fileList.get(i).modified, 'T',' ')}">
                            2024-02-16
                            05:57:26 PM</td>
                        <td th:text="${fileList.get(i).mimeType}">image/jpeg</td>
                        <td th:text="${fileList.get(i).fileName}">filename</td>
                        <td th:text="${fileList.get(i).creatorIp}">123.45.67.89</td>
                        <td th:text="${fileList.get(i).hits}">x</td>
                        <td class="text-center" th:text="${#strings.replace(fileList.get(i).created, 'T',' ')}">
                            2024-02-16
                            05:57:26 PM</td>
                        <td class="text-center" th:text="${#strings.replace(fileList.get(i).expiryTime, 'T',' ')}">
                            2024-02-16
                            05:57:26 PM</td>
                        <td>
                            <a href="#" th:data-downloadKey="${fileList.get(i).downloadKey}"
                                onclick="return admin_get_file_logs(this.getAttribute('data-downloadKey'));">
                                <img src="/assets/img/link.png" width="40" />
                            </a>
                        </td>
                        <td>
                            <a th:href="${fileList.get(i).deleteUrl}" target="_blank"><img src="/assets/img/trash.png"
                                    width="40" /></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Pagination Navigation (Disabled) -->
        <div class="dropdown" style="display: none;">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="PageSelectButton"
                data-bs-toggle="dropdown" aria-expanded="false">
                Change Page
            </button>
            <ul class="dropdown-menu" aria-labelledby="PageSelectButton">
                <li><a class="dropdown-item" href="?pageno='.$i.'">Page '.$i.'</a></li>';
            </ul>
        </div>
        <div style="padding-top: 10px;"></div>

        <!-- Logs table will be loaded here -->
        <div class="row g-3 slider closed" id="logsTable"></div>

    </div>
    <div class="contents footer">
        Copyright &#169; <a href="https://somik.org/" target="_blank">Somik.org</a> |
        <a href="https://ziox.us/contact" target="_blank">Contact us</a>
    </div>
    <script src="/adminAssets/main.js"></script>
</body>

</html>