<!doctype html>
<html xmlns:th="https://www.thymeleaf.org" lang="en" data-bs-theme="dark">

<head th:fragment="layout(content)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ERROR</title>
    <link rel="stylesheet" media="screen" href="/assets/css/error.css" />
</head>

<body>
    <div class="container-xxl">
        <div class="wrapper">
            <div class="box">
                <h1>500</h1>
                <p>Sorry, it's me, not you.</p>
                <p>&#58;&#40;</p>
                <p><a href="/">Let me try again!</a></p>
            </div>
        </div>
    </div>
</body>

</html>